root=/Users/james/Documents/Joyent/Projects/rsp
extensions=Console,DataStore,FileSystem,HTTP,Image,Import,JSONEncoder,MD5,MediaStore,Sprintf,UUID

[mogilefs]
trackers=localhost:6001

[rsp]
hostroot=git
oplimit=100000
storage=storage:cluster
memcached=127.0.0.1:11211

[mojo]
hostmapper=hostname
port=8080

[host:net-amazon-s3-test-001.s3howl]
alternate=s3howl

[host:127.0.0.1]
noconsumption=true

[host:scoop]
alternate=localhost
oplimit=10000000 # example of a host-specific oplimit

[mysql]
host=localhost
username=root
password=

## The following are storage configurations.
## They both configure storage extensions, where the cluster implementation is different from
## local configuration.  It makes the extension list a little more straightforward.  One of
## these is referenced by the "storage" configuration option in the rsp group.
[storage:local]
DataStore=SQLite
MediaStore=Local

[storage:localdb]
DataStore=MySQL
MediaStore=Local

[storage:cluster]
DataStore=MySQL
MediaStore=MogileFS
